#vs code settings
.vscode/*
# deno settings
.deno/
# Node dependencies
node_modules/
package-lock.json
yarn.lock
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Next.js build output
.next/
out/
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel
.now
.turbo

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Supabase
**/supabase/.branches
**/supabase/.temp
**/supabase/.env

# Media files (optional)
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Misc
.cache/
.temp/
*.log 